<p class="title"  >Booking Canceled</p>
<p>Hi {{name}} </p>
<p>You have canceled your appointment at {{shopName}}</p>

<div class="wrap-shop" >
    <h4  class="shopname">{{shopName}}</h4>
    <div class='company' >
        <span>{{address}}</span> 
    </div>
</div>
